.DS_Store
.deriveddata/
.swift-module-cache/
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
xcuserdata/
**/xcuserdata/
